.github/**
.vscode/**
.gitignore
dist-test/**
src/**
test/**
test-workspace/**
test-workspace-sdk/**
eslint.config.mjs
tsconfig.json
tsconfig.test.json
*.vsix
dist/*.vsix
out/*.map
pack-server.ps1
test-bundled-server.ps1
